@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #111;
  transition: 0.5;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(assets/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #1e130c, #061161);
  mix-blend-mode: overlay;
}
.text {
  position: relative;
  z-index: inherit;
  text-shadow: 1px 1px 2px black;
}
.text h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1em;
  font-family: "Potta One", cursive;
  text-transform: uppercase;
}

.text p {
  position: relative;
  color: #fff;
  font-size: 1.3em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  font-family: "Roboto", sans-serif;
}

.text a {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3em;
}
.social_media {
  position: absolute;
  z-index: inherit;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_media li {
  list-style: none;
}
.social_media li a {
  display: inline-block;
  margin-right: 30px;
  filter: invert(1);
  transform: scale(1);
}
@media (max-width: 768px) {
  header {
    padding: 40px 50px;
  }
  .text h1 {
    font-size: 1.5em;
  }
  .text p {
    width: 100%;
    font-size: 16px;
  }
  .social_media {
    position: absolute;
    z-index: inherit;
    bottom: 100px;
  }
  .social_media li > a {
    transform: scale(0.8);
  }
}
